* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background: #fdf3f2;
    height: 80px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d3044;
    line-height: 2;
}
header h1{
    font-size: 1.8rem;
}

footer{
    background: rgb(20, 20, 20);
    height: 80px;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    line-height: 2;
    font-size: 1rem;
}

main{
    background-color: #1d3044;
    padding: 3rem 0rem;
}

#calculator{
    max-width: 25rem;
    width: 100%;
    height: auto;
    background-color: cyan;
    margin: auto;
    border-radius: 1rem;
    color: #000;
}

#calculator__layout{
    height: auto;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#keypads{
    height: auto;
    border-radius: 2.5rem;
    width: 100%;
    padding: 2rem 1rem 1rem 1.5rem;
    max-width: 370px;
    background: midnightblue;
    box-shadow: rgb(33, 77, 56);
}

input[type=text]{
    width: 84%;
    margin: 0.7rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    text-align: end;
}

button{
    width: 55px;
    height: 50px;
    margin: 10px 16px 10px 10px;
    float: left;
    border-radius: 10%;
    border-width: 0;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
button:hover{
    background: #fff;
}
#display{
    margin: 1rem;
    font-size: 1.2rem;
}

.number{
    background: lightcoral;
}

button:nth-child(4){
    background: #b72880;
    font-size: 20px;
}
button:nth-child(8){
    background: rgb(77, 206, 135);
    font-size: 20px;
}
button:nth-child(12){
    background: rgb(207, 215, 105);
    font-size: 20px;
}
.minus{
    background: rgb(116, 71, 154);
    font-size: 20px;
}
.plus{
    background: #fff000;
    font-size: 20px;
}
.equal{
    background: grey;
    font-size: 20px;
    width: 130px;
}
#off{
    font-size: 0.8rem;
    height: 30px;
    width: 60px;
}

@media screen and (max-width:530px){
    footer{
        font-size: 0.6rem;
        padding: 1.2rem;
    }
}

@media screen and (max-width:420px){
    main{
        padding: 1.5rem 0.5rem 4rem 0.5rem;
    }
    header h1{
        font-size: 1.5rem;
    }
    #calculator{
        width: 100%;
        height: auto;
    }
    #calculator__layout{
        height: auto;
        align-items: center;
        text-align: center;
        margin: 1.2rem 0.5rem;
    }
    #keypads{
        height: auto;
        border-radius: 2rem;
        width: 100%;
        padding: 0.5rem;
    }
    button{
        width: 55px;
        float: left;
        height: 45px;
        margin: 0.6rem 0.5rem 0.5rem 1.2rem;
    }
}
@media screen and (max-width:376px){
    #calculator{
        width: 100%;
        height: auto;
    }
    #calculator__layout{
        height: auto;
        align-items: center;
        text-align: center;
        margin: 1.2rem 0.3rem;
    }
    #keypads{
        height: auto;
        border-radius: 2rem;
        width: 100%;
        padding: 0.5rem 0.6rem;
    }
    button{
        width: 48px;
        float: left;
        height: 45px;
        margin: 0.5rem 0.7rem 0.5rem 0.8rem;
    }
    .equal{
        background: grey;
        font-size: 20px;
        width: 115px;
    }
}

@media screen and (max-width:336px){
    #calculator{
        width: 100%;
        height: auto;
    }
    #calculator__layout{
        height: auto;
        align-items: center;
        text-align: center;
        margin: 1.2rem 0.3rem;
    }
    #keypads{
        height: auto;
        border-radius: 2rem;
        width: 100%;
        padding: 0.5rem;
    }
    button{
        width: 45px;
        float: left;
        height: 45px;
        margin: 0.5rem 0.6rem 0.5rem 0.8rem;
    }
    .equal{
        background: grey;
        font-size: 20px;
        width: 115px;
    }
}