* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: #1d3044;
    width: 1000px;
    height: 700px;
    margin: 20px auto;
}

#calculator{
    width: 25rem;
    height: 35rem;
    background-color: cyan;
    margin: 0 auto;
    position: relative;
    top: 3rem;
    border-radius: 1rem;
    color: #000;
}

#result{
    height: 3rem;
    border: 1px solid red;
    
}

#history{
    text-align: right;
    margin: 0 20px;
    height: 2rem;
    border: 1px solid green;
    padding-top: 1rem;
    font-size: 0.5rem;
    
    font-size: 2rem;
}

#output{
    text-align: right;
    margin: 10px 20px;
    height: 60px;
    font-size: 20px;
    border: 1px solid yellow;
    
}
#layout{
    height: 60vh;
    align-items: center;
    text-align: center;
    padding: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #fff000;
}

#keyboard{
    border: 1px solid red;
    height: 24rem;
    border-radius: 2.5rem;
    padding: 1rem 1rem 1rem 1.5rem;
    width: 350px;
    background: midnightblue;  
    box-shadow: rgb(33, 77, 56);  
}

input[type=text]{
width: 84%;
margin: 1rem;
height: 3rem;
padding: 1rem;
border-radius: 0.7rem;
font-size: 1.5rem;
text-align: end;
}

button{
    width: 60px;
    height: 50px;
    margin: 8px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

.number, .empty{
    background: lightcoral;
}

.number, .operator{
    cursor: pointer;
}

.operator:active, .number:active{
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}

button:nth-child(4){
    background: crimson;
    font-size: 20px;
}
button:nth-child(8){
    background: rgb(3, 68, 32);
    font-size: 20px;
}
.minus{
    background: rgb(47, 7, 80);
    font-size: 20px;
}
.plus{
    background: #fff000;
    font-size: 20px;
}
.equal{
    background: grey;
    font-size: 20px;
    width: 130px;
}